@charset "utf-8";

header{
    height: 43px;
    background: $grey1;
    border-bottom: solid 2px $yellow1;

    #logo{
        margin: 5px 0px 0px;
    }

    #user-box{
        float: right;
        width: 400px;
        height: 45px;

        div{
            float: left;
            text-align: right;
            margin: 0px 10px 0px 0px;
            width: 288px;

            div{
                margin: 0px;
                color: #CCC;
            }

            .user-name{
                font-size: 14px;
                font-weight: 300;
                margin: 2px 0px -1px;
            }

            .user-area{
                font-size: 10px;
                font-weight: 500;

                span{
                    color: $yellow1;
                    font-style: italic;
                }

            }

            .user-percent{
                font-size: 10px;
                font-weight: 500;
                color: $yellow1;

                img{
                    margin: 0px 0px -3px;
                }

            }

        }

        #user-options{
            float: left;
            width: 60px;
            height: 45px;
            background: $grey3;
            text-decoration: none;
            display: block;
            cursor: pointer;
            text-align: left;
            margin: 0px;

            img{
                margin: 8px 6px 0px;
            }

            span{
                position: relative;
                top: -38px;
                left: 30px;
                background: $red;
                color: #FFF;
                font-size: 10px;
                display: block;
                width: 26px;
                text-align: center;
                padding: 2px 0px;
                font-weight: 700;
                @include border-radius(8px);
            }

        }

        #user-options-menu{
            margin: 0px;
            padding: 8px 0px 0px;
            list-style: none;
            width: 190px;
            position: relative;
            background: $grey3;
            top: 0px;
            left: 168px;
            height: auto;
            overflow: hidden;
            display: none;

            li {

                a{
                    padding: 0px 10px;
                    display: block;
                    line-height: 33px;
                    font-size: 13px;
                    text-decoration: none;
                    color: #777;
                    letter-spacing: -1px;

                    span{
                        display: block;
                        float: right;
                        background: $red;
                        padding: 2px 6px 0px;
                        font-size: 8px;
                        font-weight: 700;
                        line-height: 12px;
                        margin: 9px 0px;
                        @include border-radius(6px);
                        color: #FFF;
                        letter-spacing: 0px;
                    }

                }

                a:hover{
                    background: $grey4;
                }

            }

        }

        #user-config{
            float: left;
            font-size: 20px;
            color: $yellow1;
            text-decoration: none;
            text-align: center;
            padding: 10px 0px 10px;
            width: 42px;
            margin: 0px;
        }

    }

}