@charset "utf-8";

header{
    height: 43px; background: $grey1;
    border-bottom: solid 2px $yellow1;

    #logo{
        margin: 5px 0px 0px;
    }

    #user-box{
        float: right; width: 400px; height: 45px;
    }

}

header #user-box div{
    float: left; text-align: right;
    margin: 0px 10px 0px 0px; width: 288px;
}

header #user-box div p{
    margin: 0px; color: #CCC;
}

header #user-box div .user-name{
    font-size: 14px; font-weight: 300; margin: 2px 0px -1px;
}

header #user-box div .user-area{
    font-size: 10px; font-weight: 500;
}

header #user-box div .user-area span{
    color: $yellow1; font-style: italic;
}

header #user-box div .user-percent{
    font-size: 10px; font-weight: 500; color: $yellow1;
}

header #user-box div .user-percent img{
    margin: 0px 0px -3px;
}

header #user-box a#user-options{
    float: left; width: 60px; height: 45px; background: #F3F1F2;
    text-decoration: none;
}

header #user-box a#user-options img{
    margin: 8px 6px 0px;
}

header #user-box a#user-options span{
    position: relative; top: -38px; left: 30px; background: #F85D5B;
    color: #FFF; border-radius: 8px; -moz-border-radius: 8px;
    -webkit-border-radius: 8px; font-size: 10px; display: block;
    width: 26px; text-align: center; padding: 2px 0px;
    font-weight: 700;
}

header #user-box>a#user-config{
    float: left; font-size: 20px;
    color: $yellow1; text-decoration: none;
    padding: 10px 12px 10px 10px;
    position: relative;
}

header #user-options-menu{
    margin: 0px; padding: 8px 0px 0px; list-style: none;
    width: 190px; position: relative; background: #F1F1F1;
    top: 0px; left: 168px; height: auto; overflow: hidden;
    display: none;
}

header #user-options-menu li a{
    padding: 0px 10px; display: block; line-height: 33px;
    font-size: 13px; text-decoration: none; color: #777;
    letter-spacing: -1px;
}

header #user-options-menu li a:hover{
    background: #E2E2E2;
}

header #user-options-menu li a span{
    display: block; float: right; background: #F85D5B;
    padding: 2px 6px 0px; font-size: 8px; font-weight: 700;
    line-height: 12px; margin: 9px 0px; border-radius: 6px;
    -moz-border-radius: 6px; -webkit-border-radius: 6px;
    color: #FFF; letter-spacing: 0px;
}