@charset "utf-8";

/* Used Colors */

$grey1: #363435;
$grey2: #222;
$grey3: #F1F1F1;
$grey4: #E2E2E2;
$grey5: #3E3E3E;
$green: #01DD5F;
$yellow1: #E6CA4D;
$black: #000;
$white: #FFF;
$red: #F85D5B;
$orange: #FFA73D;
$lightblue: #308BD4;