@charset "utf-8";

@import 'vars';
@import 'mixin';
@import 'fonts';
@import 'iconos';
@import 'header';
@import 'section';
@import 'chatbar';
@import 'sidebar';

html, body{
	margin: 0px;
	padding: 0px;
	text-align: center;
	font-family: Museo;
	min-height: 100%;
	position: relative;
}

.contenedor {
	width: 1100px; margin: 0px auto;
	text-align: left;
}


/* BOXES DE TAREAS */

.items{
	width: 176px; float: left; margin: 0px 53px 45px 0px;
	background: url(../images/bg-boxes.jpg) 0 0; color: #555;
	border-radius: 4px;	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;	text-align: center;
}

.items:nth-child(5n+5){
	margin: 0px 0px 45px;
}

.items h3{
	font-size: 14px; font-weight: 300; margin: 13px 25px 10px;
}

.items img{
	margin: 0px 0px 8px;
}

.items p{
	font-size: 13px; margin: 0px 0px 20px;
}

.items p span{
	font-size: 10px; display: block; font-weight: 500;
}

.items div.box{
	padding: 10px 15px; background: url(../images/bg-bottom-box.png) repeat;
}

.items div.box a{
	display: block; font-size: 13px; color: #FFF;
	padding: 6px 1px; text-decoration: none;
}

.items div.box a.lightblue{
	background: #308BD4; 
}

.items div.box a.red{
	background: #FF3D3D; 
}

.items div.box a.green{
	background: #01DD5F; 
}

.items div.box a.orange{
	background: #FFA73D; 
}

.items div.box a.white{
	background: #FFF; color: #666;
}


/* CALENDARIO */

#calendario{
	border-radius: 4px; -moz-border-radius: 4px;
	-webkit-border-radius: 4px; border: solid 1px #333;
	overflow: hidden; background: #FFF;
}

#calendario .calendario_cabecera{
	background: #FFEC96; height: auto; overflow: hidden;
}

#calendario .calendario_cabecera div{
	float: left; width: 126px; font-size: 14px; text-align: center;
	color: #888; margin: 3px 0px 0px;
}

#calendario .calendario_cabecera div span{
	display: block; padding: 2px 0px; font-size: 10px; background: #F8F8F8;
	width: 34px; text-align: center; margin: 2px auto 3px; border-radius: 3px;
	-moz-border-radius: 3px; -webkit-border-radius: 3px;
}

#calendario .calendario_cabecera a{
	font-family: Arial; font-size: 8px; text-decoration: none; color: #444;
	line-height: 40px; float: left; width: 24px; text-align: center;
}

#calendario .calendario_days ul{
	margin: 0px 3px; padding: 0px; list-style: none;
}

#calendario .calendario_days ul li{
	font-size: 7px; font-weight: 900; float: left;
	width: 24px; text-align: center; line-height: 23px;
	text-transform: uppercase; color: #777;
}


/* RELOJ DEL CALENDARIO */

#reloj{
	border-radius: 4px; -moz-border-radius: 4px;
	-webkit-border-radius: 4px; border: solid 1px #333;
	background: #FFF; border-top: none;
	height: auto; overflow: hidden;
}

#reloj .reloj_cabecera{
	background: #FFEC96; height: auto; overflow: hidden;
	font-size: 14px; text-align: center; color: #888;
	line-height: 20px;
}

#reloj ul{
	height: auto; overflow: hidden; list-style: none;
	margin: 0px auto; padding: 4px 0px; width: 97px;
}

#reloj ul li{
	float: left; margin: 0px 9px 0px 0px;
	font-size: 17px; color: #777;
}


/* CONTROL [GUARDAR/CANCELAR] */

#control{
	border-radius: 4px; -moz-border-radius: 4px;
	-webkit-border-radius: 4px; border: solid 1px #333;
	background: #000; border-top: none;
	height: auto; overflow: hidden;
}

#control a{
	border-radius: 2px; -moz-border-radius: 2px;
	-webkit-border-radius: 2px; background: #01DD5F;
	width: 87px; float: left; display: block; padding: 4px 0px 3px;	
	color: #FFF; text-decoration: none; font-size: 14px;
}

#control a:last-child{
	background: #FF3D3D; margin: 0px 0px 0px 1px; width: 86px;
}



/*  PIE DE PÃGINA / FOOTER */

footer>div{
	height: 36px; background: #1E1E1E;
}

footer div>div img{
	margin: 7px 0px 0px;
}

footer>div:last-child{
	height: 11px; background: $yellow1;
	font-size: 10px; font-weight: 700;
}

footer>div:last-child div{
	text-align: center;
}