
meta http-equiv="Content-Type" content="text/html; charset=UTF-8"
title 
    | :: StaffEye ::.
link rel="stylesheet" type="text/css" href="/stylesheets/styles.css"
script type="text/javascript" src="/javascripts/jquery.js"
script type="text/javascript" src="/javascripts/scripts.js"